.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #2a0a7641;
    color: white;
    padding: 0.40rem 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 300px;
  }
  
  .button:hover,
  .button:active {
    background-color: #004621c1;
  }
  
 .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #164b06;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #2b4b11;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media screen and (max-width: 600px) {
    .button {
      margin-right: 45px;
      max-width: 250px;
    }
  }
  